name: CI

on:
  pull_request:
  push:
    branches:
      - main
      - development

jobs:
  verify:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Sanity check
        run: echo "CI is running successfully"
